{
    "extends": "eslint:recommended",
    "env": {
        "jasmine": true
    },
    "parserOptions":{
      "sourceType":"module"
    },
    "plugins": [
      "jasmine"
    ],
    "rules": {
      "quotes": ["error","single",{"avoidEscape": true, "allowTemplateLiterals": true}],
      "prefer-template": "error"
    }
}
